<div id="<%= dom_id topic %>">
  <p>
    <strong>User:</strong>
    <%= topic.user_id %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= topic.topic %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= topic.theme %>
  </p>

  <p>
    <strong>Skill set:</strong>
    <%= topic.skill_set %>
  </p>

  <p>
    <strong>Estimatio:</strong>
    <%= topic.estimatio %>
  </p>

  <p>
    <strong>Xp:</strong>
    <%= topic.xp %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= topic.completed %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= topic.completed_at %>
  </p>

</div>
